[Unit]
Description=Rust Actix Backend Service
After=network.target

[Service]
WorkingDirectory=/home/usuario/proyecto
ExecStart=/home/usuario/proyecto/dist/backend/backend
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
