.contenedor-works
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.work
{
  min-width: 275px;
  max-width: 500px;
  width: 45%;
  display: flex;
  position: relative;
  border-radius: 10px;
  padding: 0 10px;
  transition: background-color 0.3s, color 0.3s;
  background-color: var(--color-ibox-background);
}

.work-state
{
  position: absolute;
  top: -25px;
  right: 0;
  margin: 10px;
  min-width: 100px;
  max-height: 33px;
  z-index: 10;
}

.work:hover
{
  background-color: var(--color-button-hover);
  color: white;
}

.work img
{
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-right: 10px;
}

ul
{
  padding: 0;
  list-style-type: none;
}

li {
  margin-bottom: 5px;
}

a
{
  text-decoration: none;
}
