:root {
  --color-panel: #ffffff;
  --color-button-background: #f2f7f6;
  --color-button-hover: #1b75e2;
  --color-ibox-background: #eff5f9;
  --color-background: #e2e3ee;
  --color-primary-text: #000217;
  --color-secondary-text: #404048;
  --color-third-text: #879497;
}
