@import "root.css";

.centered {
  margin: 0 auto;
}

.icon {
  height: 30px;
  width: 30px;
}

.icon-label {
  display: flex;
  margin: 15px 5px;
}

.icon-label p {
  margin: 0 0 0 10px;
}

.pane {
  padding: 10px;
  border-radius: 20px;
  margin: 10px;
  background-color: var(--color-panel);
}

.iBox {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  background-color: var(--color-ibox-background);
}

.iframe-pane {
  border-radius: 20px;
  background-color: var(--color-panel);
}

.iframe-inner-pane {
  overflow: auto;
}

.fit-content {
  width: fit-content;
  height: fit-content;
}

.two-columns {
  column-count: 2;
  column-gap: 20px;
}

.flex {
  display: flex;
}

.vertical-flex {
  display: flex;
  flex-direction: column;
}

.centered-flex {
  align-items: center;
}

.button {
  background-color: var(--color-button-background);
  border-radius: 10px;
  margin: 5px 10px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: var(--color-button-hover);
}

