@import "colors.css";

* {
  font-family: "JetBrains Mono", monospace;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
}

p {
  text-align: left;
}

.primary-text {
  color: var(--color-primary-text);
}

.secondary-text {
  color: var(--color-secondary-text);
}

.third-text {
  color: var(--color-third-text);
}

.centered {
  margin: 0 auto;
}

.icon {
  height: 30px;
  width: 30px;
}

.icon-label {
  display: flex;
  margin: 15px 5px;
}

.icon-label p {
  margin: 0 0 0 10px;
}

.pane {
  padding: 10px;
  border-radius: 20px;
  margin: 10px;
  background-color: var(--color-panel);
}

.iframe-pane {
  border-radius: 20px;
  background-color: var(--color-panel);
}

.iframe-inner-pane {
  overflow: auto;
}

.fit-content {
  width: fit-content;
  height: fit-content;
}

.iBox {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  background-color: var(--color-button-background);
}

.two-columns {
  column-count: 2;
  column-gap: 20px;
}

.flex {
  display: flex;
}

.vertical-flex {
  display: flex;
  flex-direction: column;
}

.centered-flex {
  align-items: center;
}

.button {
  background-color: var(--color-button-background);
  border-radius: 10px;
  margin: 5px 10px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: var(--color-button-hover);
}

.debugging {
  border: 1px solid black;
}

