body
{
  background-image: url("img/indexBackground.jpg");
  background-color: var(--color-background);
}

main {
  width: 90%;
  margin: 0 auto;
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

#center-panel {
  width: 50%;
}

@media (max-width: 1080px) {
  main {
    width: 90%;
    margin: 0 auto;
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
  }

  .item:first-child {
    order: 1;
    align-self: flex-start;
  }

  .item:nth-child(2) {
    order: 3;
  }

  .item:last-child {
    order: 2;
  }

  #center-panel {
    width: 100%;
    height: 910px;
  }
}

#center-panel iframe
{
  border: none;
}
