:root {
    --color-panel: #ffffff;
    --color-ibox-background: #eff5f9;

    --color-background: #012a36;

    --color-button-background: #f2f7f6;
    --color-button-hover: #1b75e2;

    --color-primary-bkg-pane: #ffffff;
    --color-secondary-bkg-pane: #ececec;
    --color-tertiary-bkg-pane: #e4e4e4;

    --color-primary-text: #000217;
    --color-secondary-text: #404048;
    --color-third-text: #879497;
    --color-tertiary-text: #879497;
}

* {
    font-family: "JetBrains Mono", monospace;
}

body {
    background-color: var(--color-background);
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.primary-text {
    color: var(--color-primary-text);
}

.secondary-text {
    color: var(--color-secondary-text);
}

.third-text {
    color: var(--color-third-text);
}