h2, h1 {
  text-align: center;
}

body {
  background-color: var(--color-background);
}

/* left-pane */
#fichaTecnica {
  height: fit-content;
  min-width: 350px;
  max-width: 550px;
  width: 90%;
}

#fichaTecnica section {
  margin-bottom: 15px;
  width: 90%;
}

#iconoProyecto-container {
  height: 100px;
  width: 200px;
  overflow: visible;
  position: relative;
}

#iconoProyecto {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 10%;
  top: -100px;
}

/* principal */
main {
  padding-top: 100px;
  gap: 10px;
}

#estado-pane div ul li {
  margin-top: 10px;
}

#contenedor-multimedia {
  border-radius: 10px;
}

.corrillo-de-imagenes-movil {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.corrillo-de-imagenes-movil img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

.corrillo-de-imagenes-pc {
  justify-content: center;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.corrillo-de-imagenes-pc img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.controlled-size {
  width: min(85%, 1200px);
}

/* Navigation pane */
#nav-bar {
  position: relative;
  top: 0;
  border-radius: 20px;
  margin: 20px 0;
  background-color: var(--color-panel);
}

.pane-button {
  border-radius: 10px;
  background-color: var(--color-button-background);
  cursor: pointer;
  transition: background-color 0.3s;
  width: 20px;
  height: 20px;
}

.pane-button img {
  filter: brightness(0.2);
  width: 20px;
  height: 20px;
}

.pane-button:hover {
  background-color: var(--color-button-hover);
}

.pane-button:hover img {
  filter: brightness(0) invert(1);
}


@media (max-width: 1080px) {
  #main-pane {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main {
    min-width: 350px;
    max-width: 700px;
    width: 80%;
  }
}
